<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">net.sf.log4jdbc.DriverSpy</property>
        <property name="hibernate.connection.url">jdbc:log4jdbc:mysql://10.30.28.12:3306/yrzif_saas</property>
        <property name="hibernate.connection.username">yrzif_saas</property>
        <property name="hibernate.connection.password">yrzif_saas</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    </session-factory>
</hibernate-configuration>
